{% extends 'default.html.twig' %}

{% block body %}

    <div><h4 class="text-center">Liste des adresses [ {{ contact.nom }} {{ contact.prenom }} : {{ contact.email }}
            ]</h4></div>
    <div class="row row col-md-12 pull-right ">
        <a href="/address.add?id={{ idContact }}" class="btn btn-primary btn-xs pull-right"><b>+</b> Ajouter une
            adresse</a>
    </div>

    {% if flashMessage %}
        <div class="mt-5 w-100 alert alert-primary"> {{ flashMessage }} </div>
    {% endif %}


    <div class="row col-md-12 ">
        <table class="table table-striped custab">
            <thead>
            <tr>
                <th>ID</th>
                <th>Numero</th>
                <th>Rue</th>
                <th>Code Postal</th>
                <th>ville</th>
                <th>pays</th>
                <th class="text-center">Action</th>
            </tr>
            </thead>
            {% for addresse in addresses %}
                <tr>
                    <td>{{ addresse.id|e }}</td>
                    <td>{{ addresse.number|e }}</td>
                    <td>{{ addresse.street|e }}</td>
                    <td>{{ addresse.postalCode|e }}</td>
                    <td>{{ addresse.city|e }}</td>
                    <td>{{ addresse.country|e }}</td>
                    <td class="text-center">
                        <a class='btn btn-info btn-xs' href="/address.edit&id={{ addresse.id }}"><span
                                    class="glyphicon glyphicon-edit"></span> Edit</a>
                        <a href="/address.delete?id={{ addresse.id }}" class="btn btn-danger btn-xs"><span
                                    class="glyphicon glyphicon-remove"></span> Del</a></td>
                </tr>
            {% endfor %}

        </table>
    </div>
{% endblock %}
